<div class="newsletter">
  <div class="info">
    <span class="pre-header with-point">Newsletter</span>
    <h2>First you be informed!</h2>
  </div>
  <form>
    <div class="form-control input-with-icon">
      <input type="text" placeholder="Enter your e-mail address" />
      <i class="icon icon-newsletter"></i>
    </div>
  </form>
</div>
<div class="nav">
  <div class="footer-top">
    <div class="contact-info">
      <img lazyLoad="assets/images/logo-light.webp" alt="logo" />
      <ul>
        <li>
          <i class="icon icon-clock"></i>
          <span>Monday / Friday 08:00 - 18:30</span>
        </li>
        <li>
          <i class="icon icon-pin"></i>
          <span>28 Park Ave S New York, NY 10003-1502 US - New York </span>
        </li>
        <li>
          <i class="icon icon-phone"></i>
          <span>888-4466996</span>
        </li>
        <li>
          <i class="icon icon-info"></i>
          <span>info@justicenewyork.com</span>
        </li>
      </ul>
    </div>
    <div class="links">
      <div class="link">
        <span>Justice</span>
        <ul>
          <li>Home</li>
          <li>About Us</li>
          <li>Attorneys</li>
          <li>Blogs</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="link">
        <span>Justice</span>
        <ul>
          <li>Home</li>
          <li>About Us</li>
          <li>Attorneys</li>
          <li>Blogs</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="link">
        <span>Justice</span>
        <ul>
          <li>Home</li>
          <li>About Us</li>
          <li>Attorneys</li>
          <li>Blogs</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <span>© 2019 All Rights Reserved</span>
  </div>
</div>
